// Colours

$white: #fff;
$yellow: #ffcc00;
$dark-red: #900000;
$blue:  #3333ff;
$red: #ff0000;
$cyan: #1affff;
$grey: #505050;
$purple: #6600cc;
$green: #009933;

// Font Families

$arial: Arial, Helvetica, sans-serif;